<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chataway">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chataway">
        <activity
            android:name=".ProfileEditorActivity"
            android:exported="false" />
        <activity
            android:name=".NewFriendActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Chataway.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Chataway.NoActionBar" />
        <activity
            android:name=".ChatMessagesActivity"
            android:exported="true"
            android:theme="@style/Theme.Chataway.NoActionBar" />
        <activity
            android:name=".ProfileViewerActivity"
            android:exported="true"
            android:theme="@style/Theme.Chataway.NoActionBar" />
        <!-- Originally .LoggedInActivity -->
        <activity
            android:name=".distinction.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_logged_in"
            android:theme="@style/Theme.Chataway.NoActionBar">
            <!-- Temporary solution, below intent filter should be for the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Chataway.NoActionBar"/>
    </application>

</manifest>